.Book_frame{
    padding-left: 5%;
    margin:5% 0%;
    position: relative;
    display:flex;
    flex-direction:row;
    width: 100%;
    height: 100%;
    gap:5%;
}

.BookDetail{
    width:100%;
}

.Book_isbn{
    position: relative;
    /* Paragraph */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    /* identical to box height, or 138% */
    
    color: #95A1BB;
}

.Book_BottomBox{
    width: 100%;
    display:flex;
    flex-direction: row;
}

.Book_LookDetailBox{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20%;
}

.Book_LookDetail{
    position: relative;
    height: 2.5rem;
    border:1px solid grey;
    border-radius: 0.5rem;
    transition: transform 0.3s ease; /* 확대 효과 전환 */
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.25rem;
    /* identical to box height, or 62% */
    text-align: right;
    letter-spacing: 2px;
    text-transform: uppercase;
    
    color: #000000;
}

.SubmitButton{
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 0.75rem;
    margin-bottom: 3%;
    position: relative;
    width: 60%;
    
    border: 1px solid #777E91;
    border-radius: 5.5rem;

    transition: transform 0.3s ease; /* 확대 효과 전환 */
}

.SubmitButton:hover{
    transform: scale(1.1); /* hover 시 확대 */
}

.Book_LookDetail:hover{
    transform: scale(1.1); /* hover 시 확대 */
}

.Book_description{
    position: relative;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    /* or 110% */
    
    color: #363940;
}

.Book_title{
    position: relative;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2rem;
    /* identical to box height, or 78% */
    
    color: #363940;
}

.Book_thumbnail{
    position: relative;
    width: 100%;
    height: 100%;
    border-radius:20px;
}

.Book_thumbnailFrame{
    position: relative;
    width: 40%;
    height: 100%;
    
    background: #F4FCBB;
    border-radius: 1.25rem;
}

.Book_thumbnailImage{
    position: relative;
    width: 100%; /* 원하는 너비 */
    height: 100%; /* 원하는 높이 */
    overflow: hidden; /* 컨테이너를 넘어가는 부분 숨기기 */
    background: #F4FCBB;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center; /* 중앙 정렬 */
}