.Comment_frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 27px;
    
    width: 100%;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.Comment_userFrame{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    
    width: 100%;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    
}

.Comment_NameBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0.5rem;
    
    width: 100%;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.Comment_NameBox2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 0.25rem;
    
    width: 100%;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.Comment_NameBox3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1rem;
    
    width: 100%;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.Comment_NameBox4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 0.25rem;
    
    width: 3.75rem;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Comment_Name{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 1000;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    color: #141416;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Comment_text{
    width: 100%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    color: #353945;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.Comment_InfoBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    
    width: 100%;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.Comment_updated{
    width: 101px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    color: #777E91;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Comment_reply{
    background-color:white;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    color: #23262F;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.Comment_reply:hover{
    text-decoration: underline;
}

.Comment_divider{
    width: 100%;
    height: 1px;
    background: #E6E8EC;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}


.CommentInputBox{
    position: relative;
    display: flex; /* 입력 칸과 버튼을 수평으로 정렬 */
    align-items: center; /* 버튼과 입력 칸을 수직 중앙 정렬 */
    gap: 10px; /* 입력 칸과 버튼 사이의 간격 */
    width: 100%; /* 전체 컨테이너의 너비 */
}

.CommentInput{
    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px 16px 24px;
    gap: 10px;
    
    width: 100%;
    height: 72px;
    
    border: 2px solid #E6E8EC;
    border-radius: 16px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.CommentInput::placeholder{
    margin: 0 auto;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    color: #777E91;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CommentInputButton{
    position:absolute;
    right: 1rem; /* 입력 칸 오른쪽 여백 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
    
    margin: 0 auto;
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}



.CommentInputButton[type="submit"]{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;
    
    
    background: #141416;
    border-radius: 90px;
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CommentInputButton[value="수정하기"]{
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    /* identical to box height, or 114% */
    transition: transform 0.3s ease;
    
    color: #FCFCFD;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.CommentInputButton[value="답글달기"]{
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    /* identical to box height, or 114% */
    
    color: #FCFCFD;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}