.LoanDetailFrame{
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 1rem;
    width: 100%;
    height: 100%;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.LoanDetailTitle{
    width: 100%;
    height: 2rem;
    
    /* Text/H2/Bold */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    /* identical to box height, or 133% */
    
    color: #182135;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}
