.MainBanner{
    position: relative;
    width: 100%;
    height: auto;
}

.BannerBox{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    gap: 10%;
}

.BannerTextBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0%;
    gap: 10%;
    
    position: relative;
    width: 100%;
    height: 100%;
    left:5%;
}

.BannerText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0%;
    gap: 1rem;
    position: relative;
    width: 100%;
    height: 100%;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Title{
    /* Hero */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    line-height: 6rem;
    /* or 100% */
    letter-spacing: -0.02em;
    
    color: #141416;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Description{
    /* Body 2 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 10%;
    /* or 150% */
    
    color: #000000;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    
}

.BannerImage{
    position: relative;
    width: 50%;
    height: 80vh;
    overflow: hidden;
    object-fit: cover;
}

.image{
    height: 100%;
    object-fit:cover;
}